body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

hr { margin-top: 2em; }
.instructions { color: #676767; }

thead th { text-align: left; }
table.values { min-width: 50em; }
table.values td { font-family: monospace; }

#myhand { border: 1px #ccc solid; }
